<divnk rel="stylesheet" href="../styles\helper.css">
  <divnk rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <h2 class="text-center">Priority Ranking</h2>
    <div class="jumbotron">
      <div class="row">
        <div class="btn btn-default holder col-xs-2 col-xs-offset-1"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
      </div>
      <div class="row">
        <div class="btn btn-default holder col-xs-2 col-xs-offset-1"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
      </div>
      <div class="row">
        <div class="btn btn-default holder col-xs-2 col-xs-offset-3"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
      </div>
      <div class="row">
        <div class="btn btn-default holder col-xs-2 col-xs-offset-3"></div>
        <div class="btn btn-default holder col-xs-2"></div>
        <div class="btn btn-default holder col-xs-2"></div>
      </div>
      <div class="row">
        <div class="btn btn-default holder col-xs-2 col-xs-offset-5"></div>
      </div>
    </div>
    </div>



    </div>

    <div class="row col-xs-offset-2">
      <div class="col-xs-3">
        <div class=" card col-xs-12" id="Electronics">
          <h4 class="text-center">Electronics</h4></div>
        <div class=" card col-xs-12" id="Computing">
          <h4 class="text-center">Computing</h4></div>
        <div class=" card col-xs-12" id="Woodworking">
          <h4 class="text-center">Woodworking</h4></div>
        <div class=" card col-xs-12" id="Cooking">
          <h4 class="text-center">Cooking</h4></div>
        <div class=" card col-xs-12" id="Education">
          <h4 class="text-center">Education</h4></div>
        <div class=" card col-xs-12" id="Fitnes">
          <h4 class="text-center">Fitnes</h4></div>
        <div class=" card col-xs-12" id="Parks">
          <h4 class="text-center">Parks</h4></div>
      </div>
      <div class="col-xs-3">
        <div class=" card col-xs-12" id="Electronics">
          <h4 class="text-center">Electronics</h4></div>
        <div class=" card col-xs-12" id="Computing">
          <h4 class="text-center">Computing</h4></div>
        <div class=" card col-xs-12" id="Woodworking">
          <h4 class="text-center">Woodworking</h4></div>
        <div class=" card col-xs-12" id="Cooking">
          <h4 class="text-center">Cooking</h4></div>
        <div class=" card col-xs-12" id="Education">
          <h4 class="text-center">Education</h4></div>
        <div class=" card col-xs-12" id="Fitnes">
          <h4 class="text-center">Fitnes</h4></div>
        <div class=" card col-xs-12" id="Parks">
          <h4 class="text-center">Parks</h4></div>
      </div>
      <div class="col-xs-3">
        <div class=" card col-xs-12" id="Electronics">
          <h4 class="text-center">Electronics</h4></div>
        <div class=" card col-xs-12" id="Computing">
          <h4 class="text-center">Computing</h4></div>
        <div class=" card col-xs-12" id="Woodworking">
          <h4 class="text-center">Woodworking</h4></div>
        <div class=" card col-xs-12" id="Cooking">
          <h4 class="text-center">Cooking</h4></div>
        <div class=" card col-xs-12" id="Education">
          <h4 class="text-center">Education</h4></div>
        <div class=" card col-xs-12" id="Fitnes">
          <h4 class="text-center">Fitnes</h4></div>
        <div class=" card col-xs-12" id="Parks">
          <h4 class="text-center">Parks</h4></div>
      </div>
    </div>




    <button type="button" name="button" class="" id="clkBtn">Ctrck</button>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="scripts\priorityHelper.js"></script>
