<divnk rel="stylesheet" href="../styles\helper.css">
  <divnk rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <h2 class="text-center">Priority Ranking</h2>
    <div class="jumbotron hidden-xs">
      <div class="row">
        <h3 class="col-xs-2 col-sm-offset-1">1</h3>
        <h3 class="col-xs-2">2</h3>
        <h3 class="col-xs-2">3</h3>
        <h3 class="col-xs-2">4</h3>
        <h3 class="col-xs-2">5</h3>
      </div>
      <div class="row">
        <div class=" holder col-xs-2 col-sm-offset-1" id="1"></div>
        <div class=" holder col-xs-2" id="2"></div>
        <div class=" holder col-xs-2" id="3"></div>
        <div class=" holder col-xs-2" id="4"></div>
        <div class=" holder col-xs-2" id="5"></div>
      </div>
      <div class="row">
        <div class=" holder col-xs-2 col-sm-offset-1" id="1"></div>
        <div class=" holder col-xs-2" id="2"></div>
        <div class=" holder col-xs-2" id="3"></div>
        <div class=" holder col-xs-2" id="4"></div>
        <div class=" holder col-xs-2" id="5"></div>
      </div>
      <div class="row ">
        <div class=" holder col-xs-2 col-sm-offset-3" id="2"></div>
        <div class=" holder col-xs-2" id="3"></div>
        <div class=" holder col-xs-2" id="4"></div>
      </div>
      <div class="row">
        <div class=" holder col-xs-2 col-sm-offset-3" id="2"></div>
        <div class=" holder col-xs-2" id="3"></div>
        <div class=" holder col-xs-2" id="4"></div>
      </div>
      <div class="row">
        <div class=" holder col-xs-2 col-sm-offset-5" id="3"></div>
      </div>
    </div>
    </div>



    </div>

    <div class="row col-xs-offset-2">
      <div class="col-sm-3">
        <div class=" card col-xs-12" id="Electronics">
          <h4 class="text-center">Electronics</h4></div>
        <div class=" card col-xs-12" id="Computing">
          <h4 class="text-center">Computing</h4></div>
        <div class=" card col-xs-12" id="Woodworking">
          <h4 class="text-center">Woodworking</h4></div>
        <div class=" card col-xs-12" id="Cooking">
          <h4 class="text-center">Cooking</h4></div>
        <div class=" card col-xs-12" id="Education">
          <h4 class="text-center">Education</h4></div>
        <div class=" card col-xs-12" id="Fitness">
          <h4 class="text-center">Fitness</h4></div>
        <div class=" card col-xs-12" id="Parks">
          <h4 class="text-center">Parks</h4></div>
      </div>
      <div class="col-sm-3">
        <div class=" card col-xs-12" id="Marketing">
          <h4 class="text-center">Marketing</h4></div>
        <div class=" card col-xs-12" id="Robots">
          <h4 class="text-center">Robots</h4></div>
        <div class=" card col-xs-12" id="Business Analytics">
          <h4 class="text-center">Business Analytics</h4></div>
        <div class=" card col-xs-12" id="Business Managment">
          <h4 class="text-center">Business Managment</h4></div>
        <div class=" card col-xs-12" id="Art">
          <h4 class="text-center">Art</h4></div>
        <div class=" card col-xs-12" id="DIY">
          <h4 class="text-center">DIY</h4></div>
        <div class=" card col-xs-12" id="Refurbishing">
          <h4 class="text-center">Refurbishing</h4></div>
      </div>
      <div class="col-sm-3">
        <div class=" card col-xs-12" id="Nutrition">
          <h4 class="text-center">Nutrition</h4></div>
        <div class=" card col-xs-12" id="Home Health">
          <h4 class="text-center">Home Health</h4></div>
        <div class=" card col-xs-12" id="Immigration">
          <h4 class="text-center">Immigration</h4></div>
        <div class=" card col-xs-12" id="ESL">
          <h4 class="text-center">ESL</h4></div>
        <div class=" card col-xs-12" id="Legal">
          <h4 class="text-center">Legal</h4></div>
        <div class=" card col-xs-12" id="GED">
          <h4 class="text-center">GED</h4></div>
        <div class=" card col-xs-12" id="Water Aerobics">
          <h4 class="text-center">Water Aerobics</h4></div>
      </div>
    </div>


    <button type="button" name="button" class="btn btn-default" id="clkBtn">Submit</button>
    <button type="button" name="button" class="btn btn-default" id="resetBtn" href="#/about">Reset</button>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="scripts\priorityHelper.js"></script>
